/* /////////////// ALL ////////////// */
:root {
    --main-color: #19c8fa ;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
body {
    margin: 0;
    padding: 0;
}
.container {
    width: 1170px;
    margin: auto;
}
@media (min-width:767px) {
    .container {
        width: 750px;
    }
}
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
ul {
    list-style: none;
}
/* /////////////////// END ////////////////// */
/* /////////////////// componants ////////////// */
/* ///////////////// END /////////////////*/
header {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: 100vh;
    color: white;
    position: relative;
    padding: 0 20px;
}
header::after {
    content: "";
    position: absolute;
    background-color: rgb(0 0 0 / 50%);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
/* header .container {
    position: relative;
    z-index: 3;
} */
header nav {
    border-bottom: 1px solid #a4a4a4;
    position: relative;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
}
header .container .logo{
    flex-basis: 25%;
    min-width: 112px;
}
header .container .list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 70%;
}
header .container .list ul{
    display: flex;
    margin: 0;
}
header .container .list ul li{
    margin: 0 10px;
    padding: 40px 0;
    margin-bottom: -1px;
}
header .container .list ul li.active,
header .container .list ul li:hover {
    color:var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
header .container .list .search{
    margin-left: 20px;
    border-left: 1px solid white;
    padding: 5px;
    padding-left: 20px;
    font-size: 20px;
}
@media (max-width:767px) {
    header .container .list ul {
        display: none;
    }
    /* hover to another element */
    /* we can't put a long elements just one element */
    header .container .list i:first-child:hover ~ .noMobile {
    display: block;
    position: absolute;
    top: 80px;
    left: -20px;
    width: calc(100% + 40px);
    max-width: 120%;
    background-color: rgb(0 0 0 / 50%);
    }
    header .container nav {
        padding: 20px;
    }
    header .container .list ul li {
        padding: 15px;
        transition: 0.3s;
        margin: 0;
    }
    header .container .list ul li:hover {
        padding-left: 16px;
    }
    }
    @media (min-width:767px) {
    .noLap {
        display: none;
    }
    }
/* //////////////////// the font awesome's icons is before /////////////////// */
/* so I can't put before with it */
/* header .container .list .search::before{
    content: "";
    position: absolute;
    background-color: white;
    width: 1px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 5;
} */
header .mainDiv {
    width: 500px;
    line-height: 2;
    position: absolute;
    z-index: 5;
    left: 150px;
    /* top: 50%; */
    /* transform: translateY(-50%); */
}
header .ccc{
    background-color: var(--transparent-color);
    height: 300px;
    width: 700px;
    position: absolute; 
    z-index: 5;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}
@media (max-width:767px) {
    header .ccc{
        width: 100%;
        /* padding: 20px; */
        padding-bottom: 5px;
    }
    header .mainDiv {
        width: 95%;
        left: 10px;
        padding: 30px;
    }
}
header .mainDiv h1 {
    line-height: 1.6;
}
header .left {
    position: absolute;
    z-index: 5;
    left: 40px;
    top: 50%;
}
header .right {
    position: absolute;
    z-index: 5;
    right: 40px;
    top: 50%;
}
@media (max-width:767px) {
    header .right,
    header .left {
        display: none;
    }
}
header ul.circles {
    position: absolute;
    bottom: 40px;
    left: 50%;
    display: flex;
    justify-content: space-between;
    width: 76px;
    z-index: 5;
    transform: translateX(-50%);
}
header ul.circles li.circle {
    border: 1px solid white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
header ul.circles li.active {
    border: 1px solid var(--main-color);
    background-color:var(--main-color);
}
/* /////////services////////// */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
/* ////////////////////////main heading////////////////// */
.main-heading {
    text-align: center;
}
.main-heading h1{
    position: relative;
    font-size: 40px;
    font-weight: normal;
}
.main-heading h1::before{
    content: "";
    background-color: #000;
    width: 120px;
    height: 2px;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
}
.main-heading h1::after{
    content: "";
    border: 2px solid #000;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 50%;
    top: 60px;
    transform: translateX(-50%);
    background-color: #fff;
}
.main-heading p{
    margin: 80px auto;
    font-size: 18px;
    color:#777;
    width: 50%;
    line-height: 2;
}
@media (max-width:767px) {
.main-heading p{
    width: 95%;
}
}
/* ///////////////////end main heading/////////////////// */
.rows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.rows .row {
    flex-basis: 45%;
    display: flex;
    margin-bottom: 40px;
}
.rows .row div {
    margin-left: 40px;
}
.rows .row i {
    margin-bottom: 20px;
}
.rows .row h2 {
    color: var(--main-color);
}
.rows .row p {
    color: #777;
    margin: 20px 0;
    font-size: 18px;
    line-height: 1.6;
}
@media (max-width:992px) {
.rows .row {
    flex-basis: 90%;
}
}
@media (max-width:767px) {
.rows .row {
    text-align: center;
    flex-basis: 100%;
}
.row {
    flex-direction: column;
    justify-content: center;
}
}
/* ////////////design/////////// */
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/design-features.jpg);
    background-size: cover;
    position: relative;
    height: 600px;
    overflow: hidden;
}
/* ///////////////after & before need content //////////////////// */
.design::after {
    content: "";
    background-color: rgb(0 0 0 /50%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.design .container .cont {
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 3;
}
.design .container .cont .image{
    position: absolute;
    left: 7%;
    top: 125px;
}
.design .container .cont .para {
    color: white;
    background-color: var(--transparent-color);
    min-height: 300px;
    width: 700px;
    position: absolute;
    z-index: 5;
    right: -50px;
    top: 50%;
    /* transform: translateY(-50%); */
}
.design .container .cont .para h2 {
    margin: 60px 50px;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 26px;
}
.design .container .cont .para ul{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}
.design .container .cont .para ul li{
    display: flex;
    gap: 20px;
    margin: 15px 50px;
    align-items: center;
    font-size: 20px;
}

@media (max-width:767px) {
    .design .container .cont .image{
        display: none;
    }
    .design .container .cont .para {
        max-width: 120%;
        padding-left: 40px;
    }
    }
/* /////////////portfolio/////////// */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.portfolio ul {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.portfolio ul li {
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}
.portfolio ul li.active {
    color: white;
    background-color: var(--main-color);
}
.portfolio .images {
    display: flex;
    flex-wrap: wrap;
}
.portfolio .images .image {
    flex-basis: 25%;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}
@media (max-width:1200px) {
.portfolio .images .image {
    flex-basis: 50%;
}
}
@media (max-width:767px) {
.portfolio .images .image {
    flex-basis: 100%;
}
}
.portfolio .images .image:hover img{
    transform: rotate(3deg) scale(1.1);
    transition: 0.3s;
}
.portfolio .images .image:hover .span{
    bottom: 0px;
    width: 100%;
    background-color: #fff;
}
.portfolio .images .span {
    padding-bottom: 20px;
    position: absolute;
}
.portfolio .images .span h3{
    font-weight: normal;
    margin: 20px;
}
.portfolio .images .span span{
    color: var(--main-color);
    margin: 20px;
    font-size: 18px;
}
.portfolio .more {
    color: white;
    background-color: var(--main-color);
    padding: 20px 20px;
    margin: 40px 0;
    border: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
/* /////////////video//////////// */
.video {
    position: relative;
    height: 100%;
}
.video::before {
    content: "";
    background-color: rgb(0 0 0 / 50%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-height: 100%;
    width: 100%;
}
.all {
    text-align: center;
    background-color: var(--transparent-color);
    width: 100%;
    min-height: 250px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.all video {
    height: 100%;
}
.all h2 {
    font-weight: normal;
    margin: 30px 0;
}
.all span {
    margin-bottom: 30px;
    font-size: 18px;
}
.all button {
    width: fit-content;
    background-color: #000;
    color:white;
    border: none;
    padding: 10px 20px;
    margin: 0 auto;
}
/* /////////////about/////////////// */
.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    height: 90vh;
    overflow: hidden;

}
.about img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60%;
}
/* /////////////fourRows////////////// */
.fourRows {
    padding: 0 20px;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/stats.png);
    background-size: cover;
    position: relative;
    min-height: 500px;
}
/* ///////////////after & before need content //////////////////// */
.fourRows::after {
    content: "";
    background-color: rgb(0 0 0 /70%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.fourRows .container .contain {
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 3;
    min-height: 300px;
    background-color: var(--transparent-color);
    /* width: 100%; */
}
@media (max-width:992px) {
.fourRows .container .contain {
    flex-wrap: wrap;
}
.fourRows .container .contain .oneRow{
    flex-basis: 50%;
    margin: 20px 0;
}
}
@media (max-width:767px) {
.fourRows .container .contain {
    flex-direction: column;
}
.fourRows .container .contain .oneRow{
    margin-bottom: 40px;
}
}
.fourRows .container .contain .oneRow{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
}

.fourRows .container .contain .oneRow i{
    background-color: #000;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 20px 0;
}
.fourRows .container .contain .oneRow .number{
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}
.fourRows .container .contain .oneRow .para{
    margin: 20px 0;
}
/* /////////////testimonials/////////// */
.testimonials {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.testimonials .container {
    display: flex;
    justify-content: space-between;
}
@media (max-width:992px) {
.testimonials .container {
    flex-direction: column;
}
}
.testimonials .container .test,
.testimonials .container .skills {
    flex-basis: 48%;
    letter-spacing: 1px;
}
.testimonials .container .test,
.testimonials .container .skills {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.testimonials .container .test h3,
.testimonials .container .skills h3 {
    font-weight: normal;
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
}
.testimonials .container .test>p,
.testimonials .container .skills>p {
    color: #777;
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
    margin-left: 60px;
    line-height: 1.8;
}
.testimonials .container .test div {
    display: flex;
    align-items: center;
}
.testimonials .container .test img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 40px;
}
.testimonials .container .test div div{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
.testimonials .container .test div p{
    font-size: 18px;
    line-height: 1.6;
}
.testimonials .container .test div span {
    font-size: 18px;
    color: #777;
    margin-left: auto;
    margin-bottom: 20px;
}

.testimonials .test ul.circles {
    display: flex;
    justify-content: space-between;
    width: 60px;
    margin: 20px auto;
}
.testimonials .test ul.circles li.circle {
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}
.testimonials .test ul.circles li.active {
    border: 1px solid var(--main-color);
    background-color:var(--main-color);
}
.testimonials .container .skills .per{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    padding-left: 30px;
}
.testimonials .container .skills .per>span{
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 16px;
}
.testimonials .container .skills .per>span:first-child{
    margin-top: 30px;
}
.testimonials .container .skills .per div{
    width: 100%;
    height: 30px;
    background-color: #ede4e4;
    position: relative;
}
.testimonials .container .skills .per div span{
    background-color: var(--main-color);
    position: absolute;
    height: 100%;
}
.testimonials .container .skills .per div span::before{
    content: "";
    border: 10px solid;
    border-color: black transparent transparent transparent;
    position: absolute;
    right: -10px;
    bottom: 33px;
}
.testimonials .container .skills .per div span::after{
    content: "90%";
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: black;
    width: 40px;
    font-size: 18px;
    height: 25px;
    bottom: 50px;
    right: -20px;
    border-radius: 5px;
}
@media (max-width:767px) {
.testimonials .container .test div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonials .container .test p,
.testimonials .container .skills p{
    text-align: center;
    margin-left: 0;
}
.testimonials .container .test img {
    margin: 0;
    margin-top: 10px;
}
}
/* ////////////////////text//////////////// */
.text {
    padding: 0 20px;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/quote.jpg);
    background-size: cover;
    position: relative;
    min-height: 300px;
}
.text::after {
    content: "";
    background-color: rgb(0 0 0 /70%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.text .container .contain {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 3;
    color: white;
    width: 100%;
}
.text .container .contain q{
    font-size: 30px;
    margin: 20px 0;
    font-weight: 500;
    text-align: center;
}
.text .container .contain span{
    font-size: 20px;
}
/* ////////////////////pricing///////////////// */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.pricing .container {
    text-align: center;
}
.pricing .father {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.pricing .father .child {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    background-color: #fcfcfc;
    text-align: center;
    padding: 40px 0;
    border-top: 1px solid var(--main-color);
}
@media (max-width:992px) {
.pricing .father {
flex-wrap: wrap;
}
.pricing .father .child {
flex-basis: 48%;
}
}
@media (max-width:767px) {
.pricing .father .child {
flex-basis: 100%;
}
}
.pricing .father .child h3{
font-weight: normal;
}
.pricing .father .child span{
font-size: 60px;
font-weight: bold;
margin-bottom: 40px;
position: relative;
margin: 20px auto 20px 40%;
}
.pricing .father .child span::before{
    content: "$";
    left: calc(50% - 70px);
    position: absolute;
    font-size: 25px;

}
.pricing .father .child span::after{
    content: "/Mo";
    font-size: 25px;
}
.pricing .father .child ul{
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    margin-top: 20px;
}
.pricing .father .child ul li{
    padding: 20px;
    font-size: 20px;
    border-bottom: 1px solid var(--main-color);
    margin: 0px auto;
    width: fit-content;
}
.pricing .father .child ul li:last-child{
border-bottom: none;
}
.pricing .father .child button{
border: 1px solid var(--main-color);
color: blueviolet;
margin: 30px auto 0;
padding: 20px 20px;
background-color: transparent;
}
.pricing .container>p {
    font-size: 20px;
    margin: 40px;
    margin-bottom: 30px;
    font-weight: 500;
}
.pricing .container>button {
    color: white;
    background-color: var(--main-color);
    padding: 15px 30px;
    margin: auto;
    border: none;
    font-size: 18px;
}
/* //////////////////email//////////////// */
.email {
    padding: 0 20px;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    position: relative;
    min-height: 300px;
}
.email::after {
    content: "";
    background-color: rgb(0 0 0 /70%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.email .container .contain {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
    color: white;
    width: 98%;
}
.email .container .contain input{
    border: 1px solid white;
    caret-color: var(--main-color);
    border-right: none;
    font-size: 18px;
    color: white;
    background-color: transparent;
    padding: 20px 30px 20px 60px;
}
.email .container .contain i{
    position: relative;
}
.email .container .contain i::before{
    content: "\f0e0";
    position: absolute;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
}
.email .container .contain input::placeholder{
    color: #fcfcfc;
    font-size: 18px;
    font-weight: normal;
}
.email .container .contain input:focus{
    outline: 0;
}
.email .container .contain span{
    border: 1px solid white;
    font-size: 18px;
    background-color: var(--main-color);
    border-left: none;
    padding: 20px 25px;
    font-weight: normal;
}
.email .container .contain p{
flex-basis: 50%;
margin-left: auto;
font-size: 20px;
line-height: 2;
margin-bottom: 0 !important;
}
@media (max-width:992px) {
.email .container .contain {
    flex-wrap: wrap;
    justify-content: center;
}
.email .container .contain input {
    padding: 20px 90px 20px 60px;
}
.email .container .contain p{
flex-basis: 100%;
margin: 30px auto;
}
}
/* //////////////////contact///////////// */
.contact {
    padding: 0 20px;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact .container .flex {
    display: flex;
    justify-content: space-between;
}
.contact .container .flex .input{
    flex-basis: 70%;
}
.contact .container .flex .input input{
    display: block;
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
    padding-left: 20px;
    
    border: 1px solid#ccc;
}
.contact .container .flex .input input:focus{
    outline: 0;
}
.contact .container .flex .input input::placeholder{
font-size: 20px;
}
.contact .container .flex .input textarea{
    display: block;
    width: 100%;
    height: 200px;
    padding-left: 20px;
    padding-top: 20px;
    border: 1px solid#ccc;
}
.contact .container .flex .input textarea::placeholder{
    font-size: 20px;
}
.contact .container .flex .input textarea:focus{
    outline: 0;
}
.contact .container .flex .info{
    flex-basis: 25%;
    margin-bottom: 30px;
}
.contact .container .flex .info h3{
    margin-bottom: 30px;
    font-size: 20px;
}
.contact .container .flex .info h3:nth-of-type(2){
    margin-top: 40px;
}
.contact .container .flex .info span{
    color: #777;
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}
.contact .container button {
    color: white;
    background-color: var(--main-color);
    padding: 20px 20px;
    border: none;
    font-size: 18px;
    margin-top: 30px;
    margin-left: calc(100% - 176px);
    margin-bottom: 20px;
}
@media (max-width:767px) {
    .contact .container .flex {
        flex-direction: column;
    }
.contact .container .flex .info{
    text-align: center;
    order: -1;
}
}







/* //////////////footer////////////////// */
footer {
    padding: 0 20px;
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    position: relative;
    min-height: 400px;
}
footer::after {
    content: "";
    background-color: rgb(0 0 0 /70%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
footer .container .contain {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
    color: white;
    text-align: center;
}
footer .container .contain img{
    margin-bottom: 40px;
    margin-top: 60px;
    height: 40px;
}
footer .container .contain h2{
font-weight: normal;
margin: 20px 0;
}
footer .container .contain div{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #fff;
    padding: 40px 20px;
    margin-bottom: 40px;
    width: 250px;
}
footer .container .contain div i{
    font-size: 20px;
}
footer .container .contain p{
font-size: 20px;
margin-bottom: 60px;
}
footer .container .contain span{
color: var(--main-color);
font-weight: bold;
}